body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #878787;
	font-weight: 100;
}

header {
	padding: 34px 50px 15px;
}

/*menu*/
#menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0 0 0 35px;
    overflow: hidden;
	background-color: #3c4542;
}
#menu ul li {
	float: left;
}

#menu ul li a {
	padding: 15px;
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}

#menu ul li a:hover {
	color: #00afab;
}

/* SLIDER */
#slider {
	background: url(../images/gambar_1.jpg);
	background-size: cover;
	width: 100%;
	height: 454px;
}

/* HERO TEXT */
#herotext {
	text-align: center;
	padding: 22px;
}
#herotext h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 41px;
}
#herotext h3 {
	color: #878787;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.container {
	width: 90%;
	margin: 0 auto;
}
/* CONTENT */
#artikel {
	float: left;
	width: 70%;
	font-size: 17px;
}
#sidebar {
	float: left;
	width: 25%;
}
#artikel h2.judul {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 100;
}
#artikel figure {
	float: left;
    margin: 0 20px 30px 0;
}
#artikel .isi-artikel p {
	line-height: 25px;
}

/* FOOTER */
#footer {
	clear: both;
	background: #181818;
	text-align: center;
	color: #878787;
	font-size: 15px;
	padding: 30px;
}
#footer .title {
	font-size: 22px;
	font-weight: 100;
	margin-top: 0;
}
#footer .copyright {
	font-size: 13px;
	margin-top: 70px;
}

/* RESPONSIVE */
@media (min-width: 320px) and (max-width: 768px) {
	header .logo {
	    width: 200px;
	}
	#menu ul li a {
		font-size: 15px;
	}
	#slider {
		height: 125px;
	}
	#herotext h1{
	    font-size: 29px;
	}
	#artikel {
		float: none;
		width: 100%;
	}
	#artikel figure {
		width: 100%;
	}
	#sidebar {
		float: none;
		width: 100%;
		padding-left: 0;
	}
}
@media (min-width: 320px) and (max-width: 425px) {
	header .logo {
	    width: 150px;
	    margin: -15px auto 5px;
	    display: block;
	}
	#artikel figure img {
		width: 100%;
		height: inherit;
	}
}

/* SIDEBAR */
#sidebar {
	padding-left: 50px;
	margin-top: 10px;
}
#sidebar .item {
	font-size: 17px;
	line-height: 25px;
	margin-bottom: 40px;
}
#sidebar .item h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 100;
}
#sidebar .item p.description {
	margin-bottom: 50px;
}
#sidebar .item a.readmore {
	background: #00afab;
	padding: 12px 40px;
	text-decoration: none;
	color: #FFFFFF;
}
#sidebar .item a.readmore:hover {
	background: #036f6d;
}